/* variables */
:root{
    --primary: #FFC636;
    --secondary: #4D2361;
    --text-color: #FFFFaa;
    --link-color: rgb(223, 201, 145);
}

/* fonts */
@font-face{
    font-family: 'Carme Regular';
    src: url('fonts/Carme-Regular.ttf');
}

/* base style */
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background: var(--secondary);
    color: var(--text-color);
    overflow-x: hidden;
    font-family: 'Carme Regular';
}

h1,h2,h3,h4,p{
    font-weight: normal;
    margin: 0;
}
h1,h2{
    font-size: 1.4em;
}

/* mobile styles */
.nav-site li{
    color: var(--text-color);
    text-decoration: none;
}
.nav-site ul{
    list-style-type: none;
    display: none;
}
ul a{
    border-bottom: 1px solid #FF0;
}
.nav-site li{
    display: inline-block;
    margin: 0 8px;
}
.nav-site h1{
    border-bottom: 2px solid;
    border-color: var(--primary);
    padding: 20px;
    grid-column: 1/5;
    width: 80%;
    grid-row: 1;
    padding: 10px 0 0 0;
    margin-left: 12px;
}
.btn{
    border-radius: 50px;
    background: #4D2361;
    box-shadow:  5px 5px 10px #371945, 
             -5px -5px 10px #632d7d;
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 30px;
    transition: box-shadow inset 1s;
    font-weight: 600;
}
.btn:hover{
    box-shadow: inset 5px 5px 10px #371945, 
    inset -5px -5px 10px #632d7d;
}
#welcome {
    padding: 20px 20px 20px 0;
}
.welcome-text{
    padding: 10px;
    width: 80%;
}

.welcome-text p{
    margin-top: 8px;
}
.welcome-img{
    position: absolute;
    right: -140px;
    top: -100px;
}
.welcome-img .planet{
    width: 350px;
    height: 350px;
}


#portfolio{
    margin: 0;
    padding: 0;
    background: var(--secondary);
}

#portfolio h3{
    text-align: center;
    margin: 0;
    padding: 0;
}

#portfolio div{
    text-align: center;
    align-items: center;
    align-content: center;
}

.projects {
    padding: 0;
    margin: 0;
}

.projects a{
    color: rgb(71, 224, 130);
    text-decoration: none;
    transition: 0.4s;
}

.projects a:hover{
    color: #ff0;
}

.projects div{
    display: flex;
    justify-content: center;
    border-radius: 30px;
    background: #4D2361;
    box-shadow:  5px 5px 10px #371945, 
             -5px -5px 10px #632d7d;
    color: var(--text-color);
    margin: 50px 15px;
    padding: 20px;
}
.projects label{
    margin-left: 40px;
}
.projects img {
    width: 50%;
    align-self: center;
}

#skills{
    background: var(--secondary);
    padding: 30px;
}
#skills h3{
    text-align: center;
    margin-bottom: 30px;
}
#skills img{
    margin: 5px;
}
#skills div{
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 50px 20px;
    padding: 26px;
    border-radius: 40px;
    background: #4D2361;
    box-shadow:  5px 5px 10px #371945, 
             -5px -5px 10px #632d7d;
    color: var(--text-color);
}

.socials{
    padding: 0;
    margin: 0;
}

.socials div{
    border-radius: 40px;
    background: #4D2361;
    box-shadow:  5px 5px 10px #371945, 
             -5px -5px 10px #632d7d;
    color: rgb(233, 135, 152);
    text-align: center;
    padding: 14px;
    margin: 40px;
}

.link{
    padding: 10px;
    margin: 28px;    
}

#contact h3{
    text-align: center;
    margin-bottom: 20px;;
}

#about{
    padding: 40px 100px;
    background: var(--secondary);
}
#about h3{
    text-align: center;
    margin-bottom: 25px;
}
#about div{
    grid-column: 1/9;
}

p,li{
    color: rgb(233, 135, 152);
}


/* Spinning Planet */
.planet-animation{
    text-align: center;
    align-items: center;
    transition: 1s;
    transform: scale(0.8);
}

.planet-animation:hover{
    transform: scale(1);
}

.planet{
    position: relative;
    background-color: transparent;
    background-image: url("img/planet.svg");
    border-style: none;
    border-width: 1px;
    margin-left: 35%;
    animation-name: rot;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}



.orbit{
    background-color: transparent;
    position: absolute;
    left: -15%;
    top: -10%;
    width: 120%;
    height: 120%;
    animation-name: rot;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes rot {
    100%{
        transform: rotateZ(1turn);
    }
}

.minor_only{
    display: none;
}

.mob-header{
    display: block;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #4D2361;
    width: 100vw;
    height: 70px;
}
.mob-header ul{
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.mob-header li{
    border-radius: 50px;
    background: #4D2361;
    box-shadow:  5px 5px 10px #371945, 
             -5px -5px 10px #632d7d;
    color: var(--text-color);
    padding: 16px;
}

/* for tablets */
@media screen and (min-width: 700px ){
    body{
        font-size: 20px;
    }
    .welcome-text{
        width: 70%;
    }
    .welcome-img{
        top: -130px;
        /* right: -150px; */
    }
    .welcome-img .planet{
        width: 580px;
        height: 580px;
    }
    .minor_only{
        display: block;
    }
}


/* for notbebooks and laptops */
@media screen and (min-width: 960px ){
    body{
        font-size: 22px;
    }
    .welcome-img .planet{
        width: 650px;
        height: 650px;
    }
    .mob-header{
        display: none;
    }
}



/* for desktop (widescreen) */
@media screen and (min-width: 1200px ){
    body{
        font-size: 24px;
    }
    .welcome-img .planet{
        width: 720px;
        height: 720px;
    }
    .welcome-img{
        top: -200px;
        right: -190px;
    }
    .mob-header{
        display: none;
    }
}