/* variables */

:root {
    --primary: #FFC636;
    --secondary: #110715;
    --text-color: #F3F3F3;
    --link-color: rgb(223, 201, 145);
    /* #2f333b; */
    /* #e97770 */
    /* #f3f3f3 */
    /* #282b34 */
}


/* fonts */

@font-face {
    font-family: 'Carme Regular';
    src: url('fonts/Carme-Regular.ttf');
}


/* base style */

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background: var(--secondary);
    color: var(--text-color);
    overflow-x: hidden;
    font-family: 'Carme Regular';
}

h1,
h2,
h3,
h4,
p {
    font-weight: normal;
    margin: 0;
}

h1,
h2 {
    font-size: 1.4em;
}

hr {
    border: 1px solid #f0f0f0;
}


/* mobile styles */

.nav-site {
    width: 100%;
    border-bottom: 2px solid;
    border-color: var(--primary);
    margin-bottom: 18px;
}

.nav-site h1 {
    width: 100%;
    text-align: center;
}

.btn {
    border-radius: 50px;
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 30px;
    font-weight: 600;
}

#welcome {
    padding: 12px;
    height: 94vh;
    background: #2f333b url("img/banner.jpg") center center;
    background-size: cover;
}

.welcome-img {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.welcome-img h2 {
    font-weight: 800;
    padding: 8px;
}

.welcome-img p {
    padding: 30px 2px;
    color: var(--text-color);
}

.round-logo {
    align-self: center;
    padding: 0;
    width: 30%;
}

section {
    position: relative;
}

#portfolio {
    margin: 0;
    padding: 0;
    background: #e97770 url("img/overlay.png");
}

.sec-title {
    position: absolute;
    left: 50%;
    text-align: center;
    display: block;
    font-weight: 700;
    letter-spacing: 0.25em;
    font-size: 0.9em;
    height: 2.4em;
    top: -2.9em;
    padding-top: 0.5em;
    width: 18em;
    line-height: 2.5em;
    margin-bottom: -2.5em;
    margin-left: -9em;
}

.sec-title:before {
    content: '';
    position: absolute;
    bottom: -38px;
    left: -35px;
    width: 35px;
    height: 38px;
    background: url("img/shadow.png");
}

.sec-title:after {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    content: '';
    position: absolute;
    bottom: -38px;
    right: -35px;
    width: 35px;
    height: 38px;
    background: url("img/shadow.png");
}

.style1 {
    background: #e97770 url("img/overlay.png");
    color: #fff;
}

.style2 {
    background: #fff url("img/overlay.png");
    color: #000;
}

.style3 {
    background: #f3f3f3 url("img/overlay.png");
    color: #2f333b;
}

.style4 {
    background: #282b34 url("img/overlay.png");
    color: #fff;
}

.projects {
    position: relative;
    margin: 0;
    width: 100%;
}

.projects a {
    color: rgb(71, 224, 130);
    text-decoration: none;
    transition: 0.4s;
}

.projects a:hover {
    color: #ff0 !important;
}

.proj {
    background: #df8985;
    margin: auto;
    margin-bottom: 58px;
    align-items: center;
    text-align: center;
    width: 85%;
    border-radius: 12px;
}

.proj-header {
    background: red;
    width: 100%;
    height: 35vh;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.p-img1 {
    background: url("img/tomato-pomodoro.jpg") center;
    background-size: cover;
}

.p-img2 {
    background: url("img/charity-heart.jpg") center;
    background-size: cover;
}

.p-img3 {
    background: url("img/book-finder.jpg") center;
    background-size: cover;
}

.proj-body {
    text-align: left;
    padding: 12px;
    color: #fff;
}

.proj-body p {
    color: #fff;
    font-weight: 300;
}

.proj-body a {
    color: #fff;
    display: flex;
    align-items: center;
    width: 65%;
    margin: 12px;
    padding: 2px 8px;
    background: transparent;
    border-radius: 14px;
    border: none;
    box-shadow: 2px 2px 4px #00000090, -2px -2px 4px #ffffff3f, inset 0px 0px 0px transparent, inset 0px 0px 0px transparent;
}

.proj-body a:hover {
    background: #e97770;
    box-shadow: 0px 0px 0px transparent, 0px 0px 0px transparent, inset 2px 2px 4px #000000e0, inset -1px -1px 3px #ffffffaa;
}

.proj-body a img {
    margin-right: 10px;
}

#skills {
    background: #fff url("img/overlay.png");
    color: #000;
    padding: 30px;
}

#skills h3 {
    text-align: center;
    margin-bottom: 30px;
}

#skills img {
    margin: 5px;
}

.things {
    width: 100%;
}

.things div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px 20px;
    padding: 16px;
    height: 160px;
    border-radius: 40px;
    color: var(--text-color);
    box-shadow: 2px 2px 4px #00000090, -1px -1px 3px #ffffff30;
}

.neo-comp img {
    width: 40%;
}

.socials {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.socials div {
    width: 100%;
}

.link {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.link a {
    display: flex;
    cursor: pointer;
    justify-content: center;
    padding: 8px;
    margin: 8px;
    margin-right: 12px;
    width: 26px;
    height: 26px;
    background: transparent;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 2px 4px #00000090, -1px -1px 3px #ffffff30;
}

#contact {
    background: #282b34 url("img/overlay.png");
    color: #fff;
    padding: 8px;
}

#contact h3 {
    text-align: center;
    margin-bottom: 20px;
    ;
}

#about {
    padding: 40px 100px;
    background: #f3f3f3 url("img/overlay.png");
    color: #2f333b;
}

#about p {
    color: #2f333b;
}

#about h3 {
    text-align: center;
    margin-bottom: 25px;
}

p,
li {
    color: rgb(233, 135, 152);
}

.minor_only {
    display: none;
}

.mob-header {
    display: block;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--secondary);
    width: 100vw;
    height: 70px;
}

.mob-header ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.mob-header li {
    border-radius: 50px;
    background: var(--secondary);
    color: var(--text-color);
    padding: 16px;
}


/* for tablets */

@media screen and (min-width: 700px) {
    body {
        font-size: 20px;
    }
    .welcome-text {
        width: 70%;
    }
    .welcome-img {
        top: -130px;
        /* right: -150px; */
    }
    .welcome-img .planet {
        width: 580px;
        height: 580px;
    }
    .minor_only {
        display: block;
    }
}


/* for notbebooks and laptops */

@media screen and (min-width: 960px) {
    body {
        font-size: 22px;
    }
    .welcome-img .planet {
        width: 650px;
        height: 650px;
    }
    .mob-header {
        display: none;
    }
}


/* for desktop (widescreen) */

@media screen and (min-width: 1200px) {
    body {
        font-size: 24px;
    }
    .welcome-img .planet {
        width: 720px;
        height: 720px;
    }
    .welcome-img {
        top: -200px;
        right: -190px;
    }
    .mob-header {
        display: none;
    }
}